{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/manubarku.jpg' %}');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">Manubar Pantai</h1>
                    <h4>Kampungku di Ujung KUTAI TIMUR</h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="about-description text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h5 class="description">Manubar adalah salah satu desa diwilayah kecamatan Sandaran, Kabupaten Kutai Timur, Kalimantan Timur, Indonesia.
                        Desa Manubar Dahulunya Bernama Perpat Tunggal nama ini diambil dari suatu peristiwa yang terjadi di desa tersebut. Manubar adalah sebuah desa yang berada dipesisir pantai.  </h5>
                </div>
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Mengapa desa ini harus diangkat ?</h2>
                    <h5 class="description">karena letaknya yang berada dipesisir pantai, sering kali desa ini di jadikan tempat wisata untuk desa lain berkunjung menikmati keindahan pantai tersebut.
                        desa manubar adalah ibu kota dari kecamatan sandaran, dimana kantor kecamatan berada di desa manubar, dan desa manubar salah satu diantara 9 desa yang dikecamatan sandaran memiliki pendidikan formal yang lengkap dari SD,SMP hingga SMA. 
                        dan memiliki banyak kekayaan sumber daya alam, karena
                        terletaknya di pesisir pantai, desa ini menjadi daya tarik untuk desa-desa lain yang di kecamatan sandaran
                        berlibur untuk menikmati pantainya. dibalik kelebihan itu pasti ada kekukarangan yang terjadi, dimana akses internet nya desa ini masih buruk. 
                        sehingga menyusahkan para-para pekerja dan mahasiswa ketika pulang kampung dan mengurusi kuliah jarak jauh. semoga pemerintah 
                        lebih ketat lagi memperhatikan apa yang menjadi kekurangan didesa manubar agar selain menjadi tempat wisata, desa ini bisa memiliki Sumber Daya Manusia yang baik. 
                        untuk membangun generasi emas yang dapat memajukan desa Manubar .</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{% static 'halaman/assets/img/faces/nurul.jpg' %}" />
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">NURUL KHAFIFAH HAMRUN</h4>
                            <h6 class="category text-muted">PENULIS</h6>

                            <p class="card-description">
                                Saya adalah seorang mahasiswi yang berasal dari desa Manubar yang saat ini sedang menempuh pendidikan di Universitas Muhammadiyah Kalimantan Timur .
                                saya membuat website ini karena bangga sebagai anak pedalaman yang masih tertinggal jauh dari perkembangan teknologi & informasi bisa memperkenalkan tempat lahir saya.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}